    
    /* header str */
    header{position: relative;}
    header > div.LeftMenu{display: flex; flex-direction: column; align-items: center; justify-content: space-between; position: fixed; width: 80px; z-index: 9999; height: 100vh; background-color: #bababa;}
    header > div.LeftMenu > h1{margin-top: 20px;}
    header > div.LeftMenu > a{margin-bottom: 30px;}
    header > div.LeftMenu > a > img{display: block; width: 100%; max-width: 50px; margin: 0 auto;}
    header > div > .MenuDefault{width: 40px;height: 40px; cursor: pointer; margin: 0 auto;}
    header > div > .MenuDefault span{display: block; height: 2px;background-color: black;margin-bottom: 8px;transition-duration: 1s;}
    header > div > .MenuDefault.active span:nth-child(1){transform: translateY(10px) rotate(-45deg);}
    header > div > .MenuDefault.active span:nth-child(2){transform: translateX(50px) rotate(180deg); opacity: 0;}
    header > div > .MenuDefault.active span:nth-child(3){width: 100%;transform: translateY(-10px) rotate(45deg);}
    header > .Menu{transition-duration: 1s;transition-property: left,transform; transform: rotateZ(-90deg); transform-origin: left bottom;}
    header > .Menu.active{position: fixed; left: 0; transition-duration: 1s;  transform: rotateZ(0deg);}
    header > nav.HeaderMenu{transition-delay: 0s; background-color: #222222; width: 200%;height: 100vh;position: fixed;left: -20%; top: 0;z-index: 111;}
    header > nav.HeaderMenu.active{transition-delay: 0.2s;}
    header > div.SecondMenu{transition-delay: 0.1s; position: fixed; left: -50%; top: 0; right: 0; bottom: 0; width: 200%; background-color: #ff00f6; z-index: 110;}
    header > div.SecondMenu.active{transition-delay: 0.1s;}
    header > div.thirdMenu{transition-delay: 0.2s; position: fixed; left: -50%; top: 0; right: 0; bottom: 0; width: 200%; background-color: #8400ff; z-index: 109;}
    header > div.thirdMenu.active{transition-delay: 0s;}
    header > nav.HeaderMenu ul{display: flex;flex-direction: column;justify-content: center;height: 100vh; text-align: center; width: 50%; z-index: 3;}
    header > nav.HeaderMenu ul li{display: inline-block;}
    header > nav.HeaderMenu ul li:not(:last-of-type){margin-bottom: 60px;}
    header > nav.HeaderMenu ul li a{position: relative; display: inline-block; color: white;  font-size: 80px; font-weight: 800; text-align: center; }
    header > nav.HeaderMenu ul li a::after{ text-shadow: 0 0 10px #ff00f6; content: attr(data-tabNumb); color: #8400ff;  font-size: 80px; font-weight: 800;  position: absolute; left: 0; top: 0; width: 0%; z-index: 2; overflow: hidden; transition-property: width; transition-duration: 0.5s;}
    header > nav.HeaderMenu ul li a.active{color: #8400ff; text-shadow: 0 0 10px #ff00f6;}
    header > nav.HeaderMenu ul li a:hover::after{width: 100%;}
    /* header fin */


    /* footer str */
    footer{ background: url('../img/contact01.png') no-repeat center bottom; background-size: cover; width: 100%; height: 100vh; color: white; position: relative}
    footer h2{font-size: 40px; font-weight: 500; padding-top: 80px; margin-bottom: 120px;}
    footer p{font-size: 25px; clear: both; text-align: center;}
    footer div.ConteactFull{width: 100%; max-width: 560px; margin: 80px auto; display: flex; justify-content: space-between; text-align: center;}
    div.Border{position: relative; width: 70px; height: 270px; border: 10px solid #8400ff; box-sizing: border-box;}
    div.Border::after{border: 10px solid #8400ff;filter: blur(10px); width: 100%; height: 100%; content: '';}
    footer div.LeftBox{border-right: none;}
    footer div.LeftBox::after{border-right: none; position: absolute; left: -10px; top: -10px; right: 0; bottom: 0;}
    footer div.RightBox{border-left: none;}
    footer div.RightBox::after{border-left: none; position: absolute; left: 0; top: -10px; right: -10px; bottom: 0;}
    footer div.NeonBox > *{display: block; font-size: 25px; padding-bottom: 15px; color: white;}
    footer div.NeonBox{width: 100%; max-width: 450px; margin: 80px auto;box-sizing: border-box;}
    /* footer fin */



