@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import url('reset.css');
@import url('global.css');
@import url('page.css');

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/font/Raleway-Regular.woff')
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('/font/Raleway-Medium.woff')
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('/font/Raleway-Bold.woff')
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/font/NanumGothic-Regular.woff')
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('/font/NanumGothic-Bold.woff')
}
