    /* intro str */
    section.ResizeWidth{width: calc(100% - 100px); margin-left: auto;}
    section.IntroArea{display: flex; overflow: hidden; position: relative; height: 100vh;flex-direction: column;justify-content: center;}
    section.IntroArea > h1.IntroText{position: relative; display: block;}
    section.IntroArea > h1.IntroText::before{content: '<h1>'; position: absolute; display: block; color: #515152; top: -25px; font-size: 1.8rem;  }
    section.IntroArea > h1.IntroText::after{content: '</h1>'; position: absolute; display: block; color: #515152; bottom: -30px; font-size: 1.8rem;}
    section.IntroArea > h1.IntroText div{color: transparent; animation: text_reveal .5s ease forwards; animation-delay: 1s; text-align: left; font-size: 9rem; width: fit-content; letter-spacing: 5px; margin-bottom: 20px; position: relative;}
    section.IntroArea > h1.IntroText div:first-of-type{animation: text_reveal_name .5s ease forwards; animation-delay: 1s;}
    section.IntroArea > h1.IntroText div > span{animation: text_reveal_box 1s ease; animation-delay: .5s; background-color: #dc143c; position: absolute; top: 0; left: 0; height: 100%; width: 0;}
    section.IntroArea > h1.IntroText div:last-of-type{color: transparent; font-size: 2.8rem;}
    section.IntroArea > h1.IntroText > a{position: relative; display: flex; align-items: center; justify-content: center; border: 1px solid #dc143c; width: 135px; height: 40px; background: transparent; color: #fff;}
    section.IntroArea > h1.IntroText > a::after{content: ''; display: block; height: 100%; background-color: #dc143c; position: absolute; left: 0; top: 0; width: 0%; z-index: -1; overflow: hidden; transition-property: width; transition-duration: 0.5s;}
    section.IntroArea > h1.IntroText > a:hover::after{width: 100%;}
    section.IntroArea > div.ScrollDown{ transform: rotate(-90deg); position: absolute; bottom: 50px; left: 25px;}
    section.IntroArea > div.ScrollDown > span{position: relative; padding-left: 20px; display: block; font-size: 1.2rem; color: white; animation: text_move 1s ease; animation-iteration-count: infinite;}
    section.IntroArea > div.ScrollDown > span::before{transform: rotate(90deg);  position: absolute; left: 0; bottom: 0; display: block; content: ''; background: url('../img/under-arrow.png') no-repeat center center; width: 17px; height: 10px; }
    @keyframes text_reveal_box{
        50%{width : 100%; left: 0;}
        100% {width: 0; left: 100%;}
    }
    @keyframes text_reveal{
      100%{color: white;}
    }
    @keyframes text_reveal_name{

      100%{color: #06ee7a; text-shadow: 0 0 0 #06ee7a, 0 0 10px #06ee7a;}
    }
    @keyframes text_move{
      50% {transform: translateX(-15px);}
      100% {transform: translateX(0);}
    }
    .elementChild{pointer-events: none; width: 40px; height: 40px; display: inline-block; position: absolute; border: 2px solid; transform: translate(-50%, -50%); animation: cursoranime 1s linear infinite; border-radius: 50%;}
    @keyframes cursoranime {
      0% {width: 0px; height: 0px; border-color: #dc143c;}
      30% {border-color: #06ee7a;}
      50% {border-color: #002aff}
      80% {width: 200px; height: 200px; border-corlo: #ff00f6}
      100% {width: 300px; height: 300px; border-color: #901efb;}
    }
    .ResizeSubwidth{max-width: 1574px; margin: 0 auto; width: calc(100% - 40px);}
    /* intro fin */
    
    /* About str */
    /* AboutBlack str */
    section.AboutArea{height: 100vh; position: relative;}
    section.AboutArea div.BlackBackground{color: white;}
    section.AboutArea div.AboutmeBox{padding-top: 115px;}
    section.AboutArea div.AboutmeBox::after{content: ''; visibility: hidden; clear: both; display: block;}
    section.AboutArea div.AboutmeBox p{float: left; margin: 300px 0 0 160px; font-size: 2.5rem; line-height: 1.8;}
    section.AboutArea div.AboutmeBox p > strong{font-size: 2.5rem;}
    section.AboutArea div.AboutmeBox > div{float: left; width: 440px; height: 670px; box-sizing: border-box; position: relative;}
    section.AboutArea div.AboutmeBox > div > img{z-index: 1; display: block; width: 100%; max-width: 255px; position: absolute; right: -120px; bottom: 104px;}
    section.AboutArea div.AboutmeBox div.AboutLeft{  background: linear-gradient(45deg, #ff00f6 ,#002aff , #8400ff, #ff00f6, #002aff, #8400ff); background-size: 400%; animation: Neon2 10s linear infinite;}
    section.AboutArea div.AboutmeBox div.AboutLeft::after{ content: ''; position: absolute; left: 5px; top: 5px; right:5px; bottom: 5px; background-color: #222222;}
    section.AboutArea div.AboutmeBox div.AboutLeft::before{content: ''; position: absolute; left: 5px; top: 5px; right:5px; bottom: 5px; filter: blur(30px); background: linear-gradient(45deg, #002aff ,#8400ff , #ff00f6, #002aff, #8400ff, #ff00f6); background-size: 400%; animation: Neon2 10s linear infinite;}
    section.AboutArea div.AboutmeBox div.AboutLeft > h2{font-size: 4rem; color: #06ee7a; font-weight: 500; padding: 35px 0 590px 45px; position: relative; z-index: 1;}
    @keyframes Neon2{
        0%,100%{background-position: 0;}
        50%{background-position: 300%;}
    }
    section.AboutArea div.Diagonal{z-index: 10; transition-duration: 1s; clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%); width: 30%; height: 100vh;  position: absolute; right: 0; bottom: 0;background-color: lightsalmon; filter: hue-rotate(90deg); animation: Neon 2s infinite;}
    @keyframes Neon{
        0%{filter: hue-rotate(0deg);}
        100%{filter: hue-rotate(360deg);}
    }
    section.AboutArea div.Check.active{transition-duration: 1s;clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);width: 100%;height: 100vh;}
    section.AboutArea div.Click::after{content: ''; display: block; clear: both; visibility: hidden;}
    section.AboutArea div.Click{color: black; position: absolute; right: 40px; bottom: 50px; z-index: 11; cursor: none; font-weight: 500;}
    section.AboutArea div.Click span{font-size: 2.8rem;}
    section.AboutArea div.Click img{display: inline-block; width: 100%; max-width: 30px;}
    section.AboutArea div.Click:hover{transform: scale(1.2);}
    .TopText{bottom: calc(100% - 250px); left: 22px; z-index: 10;}
    /* AboutBlack fin */

    /* AboutWhite str */
    section.AboutArea div.whiteBackground{z-index: 11; color: black; width: 100%; height: 100vh; background-color: white; position: absolute; left: 0; bottom: 0; overflow: hidden;}
    section.AboutArea div.AboutmeBox div.AboutLeft2{ border: 5px solid black;}
    section.AboutArea div.AboutmeBox div.AboutLeft2 > h2{font-size: 4rem; font-weight: 500; padding: 30px 0 590px 40px;}
    section.AboutArea div.AboutmeBox div.AboutLeft2 > img{right: -125px; bottom: 99px;}
    section.AboutArea div.AboutmeFull{width: 100%; height: 100vh; position: absolute;  left: 0; bottom: 0;} 
    section.AboutArea div.ClickCheck2 span{color: white;}
    section.AboutArea div.ClickCheck2 img{filter: invert();}
    section.AboutArea div.Diagonal2{transition-duration: 1s; clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%); width: 30%; height: 100vh;  position: absolute; right: 0; bottom: 0;background-color: black;}
    /* AboutWhite fin */

    /* AboutDetail str */
    div.Opacity{opacity: 0; z-index: -1; transition-property: opacity, z-index; width: 100%;}
    div.DetailFUll{animation: Neon 3s infinite; position: absolute; left: 0; bottom: 0px; height: 100vh;background: linear-gradient(153.5deg ,#222222 50%, #ffa143 50%);}
    div.FullBox{padding-bottom: 40px; position: absolute; left: calc(50% - 442px); top: calc(50% - 342px); max-width: 984px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.5); box-shadow: 0 0 20px white;}
    div.Opacity.active{opacity: 1; z-index: 99; transition-duration: 1s;transition-delay: 1s;}
    div.FullBox h3{font-size: 4rem; text-align: center; margin: 40px 0 60px 0; font-weight: 500;}
    div.FullBox::after{content: ''; visibility: hidden; display: block; clear: both;}
    div.FullBox img{float: left; display: block; width: 100%; max-width: 250px; margin-left: 70px;}
    div.TextBox{float: left; margin-left: 70px;}
    div.TextBox span:first-of-type{font-size: 3.5rem; display: inline-block; margin-bottom: 30px; font-weight: 700;}
    div.TextBox span:last-of-type{font-size: 3rem; display: inline-block; margin-left: 70px;}
    div.TextBox ul li{line-height: 30px; font-size: 1.7rem;}
    div.TextBox h4,
    div.TextBox ul li strong{font-size: 2rem; font-weight: 700;}
    div.TextBox ul.DetailFirst li.DetailliOne{padding-bottom: 20px; border-bottom: 1px solid black; margin-bottom: 20px;}
    div.TextBox ul.DetailFirst li.DetailliThree,
    div.TextBox ul.DetailFirst li.DetailliTwo{float: left;}
    div.TextBox ul.DetailFirst li.DetailliThree{margin-left: 30px;}
    /* AboutDetail fin */
    /* About fin */

    /* Skill str */
    section.SkillArea{height: 100vh;  position: relative; min-height: 740px;}
    section.SkillArea div.SkillContent{align-items: center; display: flex; padding-top: 115px; }
    section.SkillArea div.SkillContent > div{width: 50%;}
    section.SkillArea div.SkillContent > div:first-of-type > p{font-size: 2rem; margin-bottom: 50px; color: white; line-height: 1.5; word-break: keep-all;}
    section.SkillArea div.SkillContent > div:first-of-type > div{ padding: 30px; max-width: 560px; box-sizing: border-box; background-color: #2a2a2a; }
    section.SkillArea div.SkillContent > div:first-of-type > div > strong{display: block; color: white; font-size: 2.4rem; margin-bottom: 20px;}
    section.SkillArea div.SkillContent > div:first-of-type > div > span{display: block; font-size: 1.7rem; color: #ababab; margin-bottom: 20px;}
    section.SkillArea div.SkillContent > div:first-of-type > div > p{font-size: 1.7rem; margin-bottom: 20px; line-height: 1.3; color: #ababab;}
    section.SkillArea div.SkillContent > div:first-of-type > div > a{position: relative; display: flex; align-items: center; justify-content: center;  border: 1px solid #dc143c; z-index: 10; width: 125px; height: 40px; background: transparent; color: #fff;}
    section.SkillArea div.SkillContent > div:first-of-type > div > a::after{content: ''; display: block; height: 100%; background-color: #dc143c; position: absolute; left: 0; top: 0; width: 0%; z-index: -1;  overflow: hidden; transition-property: width; transition-duration: 0.5s;}
    section.SkillArea div.SkillContent > div:first-of-type > div > a:hover::after{width: 100%;}
    section.SkillArea div.SkillContent > div:last-of-type h3{color: white; margin-bottom: 30px; font-size: 4rem; font-weight: 700; text-align: center;}
    section.SkillArea div.SkillContent > div:last-of-type ul{display: flex; justify-content: space-evenly;}
    section.SkillArea div.SkillContent > div:last-of-type > div:first-of-type{ padding-bottom: 75px;}
    section.SkillArea div.SkillContent > div:last-of-type > div.ContourLine{margin-bottom: 75px; width: 100%; position: relative; height: 3px; background-color: #858685; transition-duration: 1s;}
    section.SkillArea div.SkillContent > div:last-of-type > div.ContourLine > div{width: 0; transition-duration: 1s; position: absolute; left: 0; top: 0; height: 3px; background-color: #06ee7a;}
    section.SkillArea div.SkillContent > div:last-of-type > div.ContourLine > div.active{width: 100%; box-shadow: 0 0 20px #06ee7a, 0 0 30px #06ee7a;}
    section.SkillArea div.SkillContent > div:last-of-type ul li img{display: block; max-width: 80px; margin: 0 auto;}
    /* skill fin */
    
    /* PORTFOLIO str */
    /* DETAILPOP str*/
    .DetailPop{width: 100%; display: none; height: 100vh; margin: 0 auto; z-index: 999; position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.5);}
    .DetailPop > div{display: none; background-color: rgb(235, 235, 235); overflow-y: auto; padding: 90px 70px; box-sizing: border-box; height: 100%; width: calc(100% - 80px); max-width: 920px; margin: 0 auto;}
    .DetailPop > button.CloseBtn{border: none; cursor: none; display: block; position: absolute; right: calc(25% + 40px); text-indent: -9999px; background: url('../img/close_pop.png') 50% 50% no-repeat; background-size: 20px 20px; width: 40px; height: 40px;}
    .DetailPop > div > h2{font-size: 3.5rem; border-bottom: 1px solid #c8c8c8; padding-bottom: 30px; margin-bottom: 30px;}
    .DetailPop > div > ul{padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #c8c8c8;}
    .DetailPop > div > ul > li{display: flex;}
    .DetailPop > div > ul > li:not(:last-of-type){margin-bottom: 25px;}
    .DetailPop > div > ul > li > *{font-size: 1.5rem; display: block;}
    .DetailPop > div > ul > li > span{width: 15%; color: #787878;}
    .DetailPop > div > ul > li > p{margin-left: 2%; width: 83%;}
    .DetailPop > div > ul > li > p > a{color: blue;}
    .DetailPop > div > div.DetailText > h3{font-size: 2.4rem; margin-bottom: 20px;}
    .DetailPop > div > div.DetailText > p{font-size: 1.6rem; line-height: 1.4; display: block; margin-bottom: 30px;}
    .DetailPop > div > div.DetailText > ul{margin-bottom: 30px;}
    .DetailPop > div > div.DetailText > ul > li{font-size: 1.6rem; margin-bottom: 10px;}
    .DetailPop > div > div.DetailText div.DetailSubtext > ol > li{margin-bottom: 30px;}
    .DetailPop > div > div.DetailText div.DetailSubtext > ol > li > h4{font-size: 2.1rem; margin-bottom: 15px;}
    .DetailPop > div > div.DetailText div.DetailSubtext > ol > li > div > p{font-size: 1.6rem; line-height: 1.4;}
    .DetailPop > div > div.DetailText div.DetailSubtext > ol > li > div > p:first-of-type{margin-bottom: 15px;}
    .DetailPop > div img.DetailImg{display: block; width: 100%; margin: 0 auto 30px; max-width: 636px;}
    /* DETAILPOP fin*/
    /* PORTFOLIOBlack str */
    section.PortfolioArea{position: relative;}
    section.PortfolioArea div.BackgroundText{z-index: -1;}
    section.PortfolioArea div.PfBlack{padding: 115px 0; color: white; }
    section.PortfolioArea div.PfBlack div.pfIntro p > a{text-shadow: 0 0 10px #dc143c, 0 0 20px #dc143c;}
    section.PortfolioArea div.pfIntro{margin-bottom: 50px; display: flex; align-items: end; justify-content: space-between;}
    section.PortfolioArea div.pfIntro p{ font-size: 2rem; color: white; line-height: 1.5;}
    section.PortfolioArea div.pfIntro p > a{color: #dc143c; font-size: 2rem;}
    section.PortfolioArea div.pfIntro > a{padding: 0 40px; max-width: 180px; height: 50px; white-space: nowrap; background-color: #dc143c; display: flex; align-items: center; justify-content: center; font-size: 2.1rem; color: white;}
    section.PortfolioArea div.ListBox > ul.PfList{display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 2rem; }
    section.PortfolioArea div.ListBox > ul.PfList > li{width: 100%; background-color: #1d1d1d; box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);}
    section.PortfolioArea div.ListBox > ul.PfList > li figure > img{width: 100%; display: block; max-width: 556px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption{padding: 15px; box-sizing: border-box;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption h3{font-weight: 700; font-size: 2.5rem; margin-bottom: 15px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption p{font-size: 1.7rem; color: white; display: block; margin-bottom: 45px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption ul{display: flex; flex-wrap: wrap; margin-bottom: 20px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption ul > li{margin: 0 6px 10px 6px; padding: 0 20px; height: 30px; background-color: rgba(55, 55, 67, 0.7); display: flex; align-items: center; justify-content: center; border-radius: 5px; font-size: 1.4rem; }
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.SkillandBtn{display: flex; justify-content: space-between; flex-direction: column; height: 178px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox{display: flex;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a{height: 38px; font-weight: 700; display: flex; align-items: center; padding: 0 20px;  justify-content: center;  color: white; font-size: 1.4rem;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a:not(:first-of-type){margin-left: 15px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.GoSite{ background-color:  #dc143c;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.GoSite:hover{ background-color:  #d92d50;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.DetailBtn{background-color: #8400ff;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.DetailBtn:hover{background-color: #901efb;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.GitSite{background-color: #fff; position: relative; color: black; padding-left: 45px; padding-right: 15px;}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.GitSite:hover{background: rgb(155, 155, 155);}
    section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a.GitSite::before{content: ''; position: absolute; left: 10px; width: 30px; height: 30px; background: url('../img/github2.png') 50% 50% no-repeat; background-size: 22px 22px;}
    /* PORTFOLIOBlack fin */

    /* PORTFOLIOWhite str */
    section.PortfolioArea div.PfWhite{width: 100%; margin: 0 auto; height: 100%; color: white; z-index: 11; background-color: white; overflow: hidden; position: absolute; left: 0; bottom: 0;}
    section.PortfolioArea div.PfFull{position: absolute; box-sizing: border-box; left: 0; bottom: 0; padding-bottom: 115px; width: 100%;}
    section.PortfolioArea div.PfFull > div{max-width: 1574px; margin: 0 auto;}
    section.PortfolioArea div.PfFull > div:first-of-type{margin-bottom: 50px;}
    section.PortfolioArea div.PfWhite div.pfIntro h2,
    section.PortfolioArea div.PfWhite div.pfIntro p{color: black;}
    /* PORTFOLIOWhite fin */
    /* PORTFOLIO fin */

    /* CONTACT str */
    section.ContactArea{color: white; position: relative; padding-bottom: 260px;}
    section.ContactArea > div:last-of-type{padding-top: 115px;}
    section.ContactArea > div > P{font-size: 2rem; margin-bottom: 70px; color: white; line-height: 1.5;}
    section.ContactArea div.ConteactFull{width: 100%; max-width: 560px; margin: 0 auto ; display: flex; justify-content: space-between; text-align: center;}
    section.ContactArea div.Border{position: relative; width: 70px; height: 270px; border: 10px solid #8400ff; box-sizing: border-box;}
    section.ContactArea div.Border::after{border: 10px solid #8400ff;filter: blur(10px); width: 100%; height: 100%; content: '';}
    section.ContactArea div.LeftBox{border-right: none;}
    section.ContactArea div.LeftBox::after{border-right: none; position: absolute; left: -10px; top: -10px; right: 0; bottom: 0;}
    section.ContactArea div.RightBox{border-left: none;}
    section.ContactArea div.RightBox::after{border-left: none; position: absolute; left: 0; top: -10px; right: -10px; bottom: 0;}
    section.ContactArea div.NeonBox > *{display: block; font-size: 2.5rem; padding-bottom: 15px; color: white;}
    section.ContactArea div.NeonBox{width: 100%; max-width: 450px; margin: 80px auto;box-sizing: border-box;}
    section.ContactArea div.light{position: absolute; right: 18%; top: 20%;}
    section.ContactArea div.bulb{position: relative; width: 80px; height: 80px; background-color: #444; border-radius: 50%;}
    section.ContactArea div.bulb::before{content: ''; position: absolute; width: 35px; height: 80px; background-color: #444; left: 22.5px; top: -50px; border-top: 30px solid #000; border-radius: 10px;}
    section.ContactArea div.bulb span:nth-of-type(1){position: absolute; top: -16px; left: -4px; display: block; width: 30px; height: 30px; background: transparent; transform: rotate(342deg); border-bottom-right-radius: 40px; box-shadow: 20px 20px 0 10px #444;}
    section.ContactArea div.light.active div.bulb span:nth-of-type(1){box-shadow: 20px 20px 0 10px #fff;}
    section.ContactArea div.bulb span:nth-of-type(2){position: absolute; top: -16px; right: -4px; display: block; width: 30px; height: 30px; background: transparent; transform: rotate(17deg); border-bottom-left-radius: 40px; box-shadow: -20px 20px 0 10px #444;}
    section.ContactArea div.light.active div.bulb span:nth-of-type(2){box-shadow: -20px 20px 0 10px #fff;}
    section.ContactArea div.wire{position: absolute; left: calc(50% - 2px); bottom: 140%; width: 4px; height: 146px; background: #000;}
    section.ContactArea div.light.active{background: radial-gradient(#555, #111);}
    section.ContactArea div.light.active div.bulb{background: #fff; box-shadow: 0 0 50px #fff, 0 0 100px #fff;}
    section.ContactArea div.light.active div.bulb::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px; background: #fff; border-radius: 50%; filter: blur(40px);}
    section.ContactArea div.light.active div.bulb::before{background: #fff;}
    /* CONTACT fin */

    @media screen and (max-width: 1600px){
      .BackgroundText > span{font-size: 19rem;}
      section.AboutArea div.AboutmeBox p{margin: 300px 0 0 80px;}
      section.AboutArea div.AboutmeBox > div > img{right: -60px;}
      section.AboutArea div.AboutmeBox div.AboutLeft2 > img{right: -65px;}
      section.PortfolioArea div.PfFull{padding: 0 20px 115px 20px;}
      section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.SkillandBtn{height: 219px;}
      section.PortfolioArea div.ListBox > ul.PfList{grid-gap: 1rem;}
      section.PortfolioArea div.ListBox > ul.PfList > li figure figcaption div.BtnBox a{padding: 0 15px;}
    }
    
    @media screen and (max-width: 1280px){
      section.ResizeWidth{width: 100%; margin: 0;}
      .ResizeSubwidth{width: calc(100% - 80px);}
      section.AboutArea div.AboutmeBox{padding-bottom: 40px;}
      section.PortfolioArea div.PfFull{padding: 0 40px 155px 40px;}
      div.FullBox{left: calc(50% - 492px);}
      section.AboutArea div.AboutmeBox > div{float: none;}
      section.AboutArea div.AboutmeBox p{float: none; margin-top: 20px; margin-left: 0;}
      section.AboutArea div.AboutmeFull{height: auto;}
      section.AboutArea{height: 100%;}
      .TopText{left: 40px;}
      .BackgroundText > span{font-size: 16rem;}
      section.PortfolioArea div.ListBox > ul.PfList{grid-template-columns: repeat(2, 1fr);}
      .mb-none{display: none;}
      section.PortfolioArea div.pfIntro > a{margin-left: 20px;}
    }

    @media screen and (max-width: 1024px){
      html{font-size: 50%;}
      .ResizeSubwidth{width: calc(100% - 60px);}
      section.PortfolioArea div.PfFull{padding: 0 30px 115px 30px;}
      section.SkillArea{height: 100%;}
      section.SkillArea div.SkillContent{display: block;}
      section.SkillArea div.SkillContent > div{width: 100%;}
      section.SkillArea div.SkillContent > div:first-of-type{margin-bottom: 40px;}
      section.SkillArea div.SkillContent{padding: 115px 0;}
      section.ContactArea{padding-bottom: 115px;}
      .BackgroundText > span{font-size: 15rem;}
      .TopText{left: 0;}
      div.FullBox{max-width: 500px; top: calc(50% - 370px); left: calc(50% - 250px); padding-bottom: 10px;}
      div.FullBox img{max-width: 210px; float: none; margin: 0 auto 20px;}
      div.FullBox h3{margin: 40px 0;}
      div.TextBox{float: none; width: calc(100% - 40px); margin: 0 auto;}
      div.TextBox span:last-of-type{float: right; margin: 40px 40px 0 0;}
      div.TextBox span:first-of-type{display: block; margin-bottom: 15px; text-align: center;}
      div.TextBox ul.DetailFirst li.DetailliThree{margin-left: 5px;}
      div.TextBox ul li{line-height: 1.5;}
    }

    @media screen and (max-width: 740px){
      section.AboutArea div.Diagonal2,
      section.AboutArea div.Diagonal,
      .BackgroundText{display: none;}
      section.AboutArea div.AboutmeBox > div{margin: 0 auto;}
      section.AboutArea div.AboutmeBox div.AboutLeft2 > img,
      section.AboutArea div.AboutmeBox > div > img{right: calc(50% - 127.5px);}
      section.AboutArea div.Click{z-index: 1; color: white;}
      section.AboutArea div.AboutmeBox p{text-align: center;}
      section.AboutArea div.Click{bottom: 150px; right: 7%;}
      section.AboutArea div.Click img{filter: invert();}
      section.AboutArea div.ClickCheck2 span{color: black;}
      section.AboutArea div.ClickCheck2 img{filter: none;}
      section.AboutArea div.ClickCheck3{z-index: 9999; right: 40px; bottom: 25px;}
      section.PortfolioArea div.ListBox > ul.PfList{grid-template-columns: repeat(1, 1fr);} 
      section.PortfolioArea div.pfIntro{display: block;}
      section.PortfolioArea div.pfIntro p{margin-bottom: 20px;}
      section.ContactArea div.light{top: 8%;}
      section.ContactArea div.wire{height: 25px;}
    }
    





