@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:14px;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: #1d1d1d;
    /* cursor: none; */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul, li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    cursor: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

section,
header{
    font-family: 'Noto Sans KR';
}

header > nav.HeaderMenu ul li a,
div.FullBox h3,
div.TextBox span:last-of-type,
section.SkillArea div.SkillContent > div:last-of-type h3,
section.PortfolioArea div ul li div h3,
section.PortfolioArea div ul li div span,
section.AboutArea div.Click span:first-of-type,
section.AboutArea div.AboutmeBox > div > h2,
section.SkillArea div.SkillContent > div:first-of-type > div > a,
section.PortfolioArea div.pfIntro > a,
section.ContactArea p,
section.IntroArea,
a.GitSite,
a.DetailBtn,
.ContentTitle,
header > div.LeftMenu > a > span{
    font-family: 'Raleway'
}

.ContentTitle{font-size: 5rem; font-weight: 700; color: #06ee7a; margin-bottom: 30px;}
.Shadow{text-shadow: 0 0 10px white, 0 0 20px white;}
.TitleShadow{text-shadow: 0 0 0 #06ee7a, 0 0 10px #06ee7a;}
.BackgroundText{position: absolute; opacity: 0.03; z-index: -1; bottom: 0; right: 0; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none}
.BackgroundText > span{color: white; font-size: 18rem; font-weight: 700;}